blindspin==2.0.1
certifi==2020.6.20
chardet==3.0.4
colorama==0.4.3
crayons==0.3.1
deprecation==2.1.0
docker==4.2.2
grpcio==1.30.0
grpcio-tools==1.30.0
idna==2.10
packaging==20.4
protobuf==3.12.2
PyMySQL==0.9.3
pyparsing==2.4.7
pypiwin32==223
pywin32==228
requests==2.24.0
six==1.15.0
testcontainers==3.0.3
urllib3==1.25.9
websocket-client==0.57.0
Werkzeug==1.0.1
wrapt==1.12.1
